<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--IDAO->DA0-->
      <container name="containerOne">
        <!--<register type="IDAO.IUserDAO,IDAO" mapTo="DAO.UserDAO,DAO" name="UserDAO"></register> -->
      </container>
      <!--IBLL->BLL -->
      <container name="containerTwo">
        <register type="IBLL.IoneorganizationBLL,IBLL" mapTo="BLL.oneorganizationBLL,BLL" name="oneorganizationBLL"></register>
        <register type="IBLL.ItwoorganizationBLL,IBLL" mapTo="BLL.twoorganizationBLL,BLL" name="twoorganizationBLL"></register>
        <register type="IBLL.IthreeorganizationBLL,IBLL" mapTo="BLL.threeorganizationBLL,BLL" name="threeorganizationBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>