<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--IDAO->DA0-->
      <container name="containerOne">
        <!--<register type="IDAO.IUserDAO,IDAO" mapTo="DAO.UserDAO,DAO" name="UserDAO"></register> -->
      </container>
      <!--IBLL->BLL -->
      <container name="containerTwo">
        <register type="IBLL.IStudentBLL,IBLL" mapTo="BLL.StudentBLL,BLL" name="StudentBLL"></register>
        <register type="IBLL.IUserBLL,IBLL" mapTo="BLL.UserBLL,BLL" name="UserBLL"></register>

        <register type="IBLL.IPublicCharBLL,IBLL" mapTo="BLL.PublicCharBLL,BLL" name="PublicCharBLL"></register>
        <register type="IBLL.ISalaryBLL,IBLL" mapTo="BLL.SalaryBLL,BLL" name="SalaryBLL"></register>
        </container>
  
    </containers>
  </unity>
</configuration>